body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #001d3d, #1c1c1c);
    font-family: 'Arial', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-screen {
    text-align: center;
}

#game-area {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #000428, #004e92);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 0;
    font-size: 2em;
}

#score-display, #info {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #004e92;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #002d5a;
}
